body {
  font-family: "Open Sans", sans-serif;
}

.body {
  max-width: 100vw;
  min-height: 100vh;
  background: url('https://lh5.googleusercontent.com/WYjCDo94RKyKR3zEUrDjRpJgymjkQ56d16Kb1uDTxe8qEtzAZRyNfnrBcD2ZVUbj7fl0nnzd7JjfGXE=w1122-h668') top repeat repeat;
  margin: 0;
  padding: 0;
}

#mission {
  background: url('../assets/laptoppic.jpg') center/cover no-repeat;
  height: 65vh;
  max-width: 100vw;
}

.bio {
  padding: 5vh 2vw;
  text-align: center;
  color: #3F8AA5;
  text-shadow:
      2px 2px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bio h2 {
  font-size: 1.7em;
}

.bio p {
  font-size: 1.3em;
  color: #fff;
}

.projects {
  padding: 5vh 0;
}
