.technologies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2vh 4vw;
}

.badge {
  padding: 1.5vw 1.5vw;
  height: 12vw;
  width: 12vw;
}

.badge:hover {
  color: #04B79A;
  background: radial-gradient(circle closest-side, #3F8AA5, rgba(0,0,0,0));
}
